@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Space+Grotesk:wght@300;500;600;700&display=swap");

:root {
  --pink: #ff046f;
  --violet: #c63bfa;
  --white: #fff;
  --secondary__text__color: #1a1616;
  --subheading__color: #403737;
}

body {
  font-family: "Open Sans", sans-serif;
  font-family: "Space Grotesk", sans-serif;

  /* 1rem = 10px; */
  font-size: 62.5%;
  overflow-x: hidden;

  scroll-behavior: smooth;
  /* background: rgb(162, 161, 161); */

}


body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px var(--pink);
}
 
body::-webkit-scrollbar-thumb {
  background-color: var(--pink);
  outline: 1px solid var(--pink);
}


a {
  text-decoration: none;
}
li {
  list-style: none;
}
*::selection {
  background: var(--pink);
  color: var(--white);
}

.container {
  width: 90%;
  margin: 0 auto;
}

.section {
  padding: 3rem 0;
}

.common__heading {
  font-size: 2rem;
  margin: 0;
  text-align: center;
  text-transform: capitalize;
  font-weight: 700;
  color: var(--violet);
}

.d-grid {
  display: grid;
}

.g-col-1 {
  grid-template-columns: repeat(1, 1fr);
}
.g-col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.g-col-3 {
  grid-template-columns: repeat(3, 1fr);
}

.g-col-4 {
  grid-template-columns: repeat(4, 1fr);
}

.d-grid-center {
  place-items: center center;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}

.text-capitalize {
  text-transform: capitalize;
}

img {
  width: 100%;
}

video {
  width: 100%;
}

.btn {
  padding: 1rem 1.5rem;
  background: var(--violet);
  color: var(--white);
  text-transform: capitalize;
  font-size: 1.1rem;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.3s linear;
}

.btn:hover {
  background: var(--pink);
}

/* ml10 */
.ml10 {
  position: relative;
  font-weight: 900;
  margin: 0;
  font-size: 4em;
  text-align: center;
}
.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml10 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
  text-align: center;
}
/* ml10  */

/* header part css  */

.header .ml11 {
  font-weight: 700;
  font-size: 3.5em;
  color: var(--white);
}

.header .ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.header .ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.header .ml11 .line1 {
  top: 0;
  left: 0;
}

.header .ml11 .letter {
  display: inline-block;
  line-height: 1em;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem;
  background: var(--white);
  border-radius: 3px;

  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.5rem 2rem;
  z-index: 1000;
}

.header .navbar .navbar__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.header .navbar .navbar__list li a {
  color: var(--pink);
  transition: 0.2s;
  font-size: 1.2rem;
  cursor: pointer;
  text-transform: capitalize;
  font-weight: 300;
  position: relative;
}

.header .navbar .navbar__list li a:hover {
  color: var(--violet);
}

.header .navbar .navbar__list li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 2px;
  transform: translateX(-10%);
  background: var(--violet);
}

.header .navbar .navbar__list li:hover a::after {
  content: "";
  width: 100%;
  transform: translateX(0%);
}
.header .active {
  color: var(--violet) !important;
}

.header .icon {
  font-size: 2rem;
  color: var(--pink);
  cursor: pointer;
  display: none;
}

.header .logo {
  color: var(--pink);
  font-size: 1rem;
  text-align: center;
  text-transform: capitalize;
}

.header .logo i {
  color: var(--violet);

  margin: 0 0.5rem;
}

.header .fa-times {
  transform: rotate(180deg);
  transition: 0.2s;
}

.mobile__humburgerbar {
  display: none;
}

.header__shadow {
  box-shadow: -2px -6px 24px 2px rgba(0, 0, 0, 0.1),
    -5px -19px 31px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

/* header part css  */

/* home part css  */
.home {
  min-height: 100vh;
  background: linear-gradient(
      to right,
      rgba(200, 61, 250, 0.8),
      rgba(200, 61, 250, 0.8)
    ),
    url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 1;
  overflow: hidden;
  position: relative;
}

.home::before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: -25rem;
  left: 50%;
  transform: translateX(-50%);
  width: 145%;
  border-radius: 50%;
  z-index: -10;
  border-top: 80vh solid var(--pink);
}

.home .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 10rem;
  padding-bottom: 2rem;
  text-align: center;
}

.home .content h1 {
  font-size: 2.5rem;
  color: var(--white);
  margin: 0;
  text-transform: capitalize;
}

.home .content p {
  text-align: center;
  width: 75%;
  color: var(--white);
  line-height: 1.7;
  font-size: 1.1rem;
}

.home .box__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;

  width: 100%;
  height: 45%;
}

.box__wrapper .box {
  background-color: var(--white);
  border-radius: 10px;
  padding: 1rem;

  display: flex;
  flex-flow: column wrap;
  align-items: center;

  box-shadow: -2px -6px 24px 2px rgba(0, 0, 0, 0.1),
    -5px -19px 31px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);

  transition: 0.3s linear;
}

.box__wrapper .box .btn {
  padding: 0.6rem 0.8rem !important;
}

.box__wrapper .box .icon {
  font-size: 1.8rem;
  color: var(--pink);
}

.box__wrapper .box h3 {
  color: var(--pink);
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 0.3rem;
  text-transform: capitalize;
}

.box__wrapper .box:hover h3,
.box__wrapper .box:hover .icon {
  color: var(--violet);
}

.box__wrapper .box p {
  font-size: 1.1rem;
  font-weight: 100;
  line-height: 1.6;
  text-align: center;
}

.sub__heading {
  color: var(--subheading__color);
  font-size: 1.1rem;
  margin: 0;
}

.left__part {
  align-self: center;
}

.left__part h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: left;
  color: var(--secondary__text__color);
}

.left__part p {
  line-height: 1.7;
  margin-bottom: 3rem;
  font-size: 1.1rem;
  color: var(--secondary__text__color);
}

.right__part .img {
  width: 85%;
}

/* home part css  */

/* teacher CSS */
.teacher {
}
.teacher .card__container {
  gap: 1rem;
  margin-top: 1.5rem;
}

.teacher .card__container .card {
  box-shadow: -2px -6px 24px 2px rgba(0, 0, 0, 0.1),
    -5px -19px 31px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.card__container .card__detail {
  padding: 1.1rem 1rem;
}

.card__container .card .img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  filter: grayscale();
  transition: 0.2s;
}

.card__container .card:hover .img {
  filter: grayscale(0);
}

.card__container .card__detail h3 {
  font-size: 1.8rem;
  margin: 0;
  color: var(--pink);
  text-align: center;
  text-transform: capitalize;
}
.card__container .card__detail p {
  font-size: 1.1rem;
  color: var(--secondary__text__color);
  line-height: 1.4;
  margin-bottom: 1rem;
  text-align: center;
}

.card__container .card .icons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__container .card .icons .fab {
  font-size: 1.1rem;
  color: var(--pink);
  margin: 0 0.5rem;
}

/* teacher CSS */

/* course css  */
.course {
}
.course .card__container {
  /* gap: 1rem; */
  margin-top: 1.5rem;
}
.course .card__container .box {
  height: 11rem;
  width: 20rem;
  margin: 2.5rem 1.2rem;
  text-align: center;
  border-radius: 1rem;
  box-shadow: 0.3rem 0.3rem 0 0.1rem var(--pink),
    0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.3);

  display: flex;
  flex-flow: column;
  align-items: center;
}

.course .card__container .box .fab,
.fas {
  font-size: 3.1rem;
  color: var(--pink);
  margin: 0 0.5rem;
}
.course .card__container .box i {
  background-color: var(--white);
  width: 6rem;
  height: 6rem;
  line-height: 5rem;
  border-radius: 50%;

  margin-top: -4rem;
  border: 0.5rem solid var(--white);
  border-left: 0.5rem solid var(--pink);
  border-right: 0.5rem solid var(--pink);

  text-align: center;
  font-size: 2rem;
  box-shadow: 0 0 0 10px var(--white) inset;
}

.course .card__container .box h3 {
  font-size: 1.12rem;
  margin: 0;
  text-shadow: 1px 1px 1px var(--pink);
  text-transform: uppercase;
  margin-top: 0.5rem;
  color: var(--pink);
}


.course .card__container .box p{
  font-size: .897rem;
  color: var(--secondary__text__color);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

/* course css */


/* review css */


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review {
  position: relative;
}

.review .swiper-slide {
  box-shadow: -2px -6px 24px 2px rgba(0, 0, 0, 0.1),
      -5px -19px 31px -3px rgba(0, 0, 0, 0.1),
      0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.review .mySwiper{ 
  padding-top: 5rem;
}

.review .swiper-slide{
  width: 30rem;
}


.review .review__box {
  position: relative;
  z-index: 1100;
  padding-bottom: 2rem;
}

.review .review__box .img {
  width: 7rem;
  height: 7rem;
  object-fit: cover;
  margin-top: -4rem;   
  clip-path: circle();
  border:.5rem solid var(--pink);
  border-left:.5rem solid var(--violet); 
  border-bottom:.5rem solid var(--violet); 
  position: absolute;
  
    left: 50%;
    top: 0;
    transform: translateX(-50%);
  
}

.review__box .review__detail{
  padding-top: 4rem;
}

.review__box .review__detail h3{
  font-size: 1.3rem;
  margin: 0;
  color: var(--pink);
  text-align: center;
  text-transform: capitalize; 
}

.review__detail .review__rating  i{
  color: #e5e519;
}


.review__box .review__detail p{
  font-size: .854rem;
  color: var(--secondary__text__color);
  line-height: 1.4;
  margin-bottom: 1rem;
  text-align: center;
}
/* review css */



/* contact css  */
.contact{
  
}
.contact__container{
  /* box-shadow: -2px -6px 24px 2px rgba(0, 0, 0, 0.1),
  -5px -19px 31px -3px rgba(0, 0, 0, 0.1),
  0px 10px 15px -3px rgba(0, 0, 0, 0.1); */

  width: 100%;

  padding: 1.3rem 1rem;

  

}

.contact__container  .form {
  
  display: flex;
  flex-flow: column;
  align-items: center;
  align-self: center;
  gap: 1rem;
}
.contact__container .form .form-group   {
width: 100%;
}
.contact__container .form .form-control   {
	padding: 10px 5px;
	/* background: transparent; */
	outline: none;
	border: 1px solid gray;
	width: 100%;
}
/* contact css  */

/* footer css  */
.footer{
  background-color: var(--pink);
  padding: 1rem;
  color: var(--white);
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 2rem;
  border-top:3px solid var(--violet);
}

.footer .icons {
  margin-bottom: 1rem;
}

.footer .icons .icon {
  font-size: 1.5rem;
  color: var(--white);
  margin: 0 .5rem;
  transition: all 0.3s ease;
}

.footer .icons .icon:hover {
  transform: scale(1.2);

  color: var(--violet);
}
/* footer css  */


@media (max-width: 768px) {
  body {
    /* 8rem= 8px  */
    font-size: 50%;
  }

  .mobile__humburgerbar {
    display: block;
  }

  .mobile__humburgerbar .fa-bars {
    display: block;
  }

  .header .navbar .navbar__list {
    flex-flow: column;
  }

  .header .navbar {
    position: absolute;
    top: 0;
    left: 12%;
    width: 75%;
    border-radius: 11px;
    background: lightblue;
    padding: 1.1rem 0;
    transform: translateY(-105%);
    transition: 0.2s linear;
    z-index: 100;

    box-shadow: -2px -6px 24px 2px rgba(0, 0, 0, 0.1),
      -5px -19px 31px -3px rgba(0, 0, 0, 0.1),
      0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  }

  .header .navbar__toggle {
    transform: translateY(15%);
  }

  .common__heading {
    font-size: 1.2rem;
  }

  .btn {
    padding: 0.25rem 0.54rem;
  }

  /* home section   */
  .home .box__wrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .home .content h1 {
    font-size: 1.5rem;
  }

  .home .content p {
    /* text-align: center; */
    width: 100%;
    color: var(--white);
    line-height: 1.6;
    font-size: 1rem;
    text-align: justify;
  }

  /* home section   */

  /* about .section  */
  .about {
    margin-top: 1rem;
  }
  .about .g-col-2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .about .left__part h4 {
    font-size: 0.99rem;
  }
  .about .left__part p {
    font-size: 0.48rem;
    line-height: 1.8;
    margin-bottom: 2rem;
  }

  .about .right__part .img {
    width: 100%;
  }

  /* about .section  */

  /* teacher secttion  */

  .teacher .card__container.g-col-4 {
    grid-template-columns: repeat(1, 1fr);
  }
  /* teacher secttion  */

  /* course section  */
  .course .card__container.g-col-3 {
    grid-template-columns: repeat(1, 1fr);
  }
  /* course section  */

  /* contact section  */
  .contact .contact__container.g-col-2 {
    grid-template-columns: repeat(1, 1fr);
  }
  .contact__container .form .form-group   {
    width: 75%;
    }
  /* contact section  */


  /* footer section  */
  .footer .credit{
    font-size: 0.8rem;
  }
  /* footer section  */


}
